@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playwrite+IS:wght@100..400&family=Prata&family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";

* {
  font-family: Outfit;
}

select,
input,
textarea {
  border: 1px solid#c2c2c2;
  outline-color: #414141;
  border-radius: 4px;
}